.scroll-to-future__overlay {
    top: 0;
    left: 0;
    z-index: 9999;

    box-sizing: border-box;

    pointer-events: none;
    overflow: hidden;
    visibility: hidden;

    transition: none !important;
    transform: translate3d(0, 0, 0);

    contain: layout style;
}

.scroll-to-future__overlay--local {
    position: absolute;
}

.scroll-to-future__overlay--fixed {
    position: fixed;

    will-change: transform;
}

.scroll-to-future__horizontal-space {
    position: absolute;
    left: 0;
    z-index: 0;

    width: 100%;
    height: var(--scroll-to-future-horizontal-space, 0px);

    pointer-events: none;
}

.scroll-to-future__horizontal-space[data-position="before"] {
    top: 0;
}

.scroll-to-future__horizontal-space[data-position="after"] {
    bottom: 0;
}

.scroll-to-future__track {
    z-index: 1;
}
